body {
  height: 98%;
  background-color:#292C3D;
}
.motto {
  color:E1F2FE;
  font-family: 'Trebuchet MS', sans-serif;
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
  top:100px;
  position: relative;
}

.Signup {

}

.Signin {

}
